In [1]:
"""
x=5
대소문자 구분, 소문자로 시작, 예약어(for, if, ...) 사용금지
"""
x,y=1,2

In [4]:
del x #변수가 메모리에서 제거

NameError: name 'x' is not defined

In [5]:
x

NameError: name 'x' is not defined

In [6]:
#빈 변수
x=None #변수는 만들어졌지만 값은 들어있지 않은 상태, null
x

In [8]:
x=10
x=x+5
x+=5
x

20

In [5]:
#x=input()
x=int(input('입력:'))

입력:5

In [6]:
x
#int(x)

5

In [13]:
#input에서 여러개 입력 -> split함수 사용(공백 구분)
x,y=input("문자열 두개 입력:").split()
x=int(x)
y=int(y)
print(x)
print(y)
print(x+y)

문자열 두개 입력:5 10
5
10
15

In [15]:
#x,y=input("문자열 두개 입력:").split()
#print(type(input("문자열 두개 입력:").split()))
x,y=map(int , input("문자열 두개 입력:").split())
print(x+y)
#형식 : map(함수, 데이터)

문자열 두개 입력:5 10
15

In [16]:
x,y=map(int , input("문자열 두개 입력:").split(","))
print(x+y)

문자열 두개 입력:1,2
3

In [31]:
print(1,2,3,4)
print("hi","hello")
print(1,2,3,4, sep=",")
print(1,2,3,4, sep=",,,")
print(1,2,3,4, sep="x") #1234
print(1,2,3,4, sep="\n")# \n:제어문자(화면에 출력x)
print("1\n2\n3")

1 2 3 4
hi hello
1,2,3,4
1,,,2,,,3,,,4
1x2x3x4
1
2
3
4
1
2
3

In [32]:
print("1\t2\t3")

1	2	3

In [35]:
print("1\\2") #\ 기호는 \\ 작성해서 출력

1\2

In [40]:
print(1, end=' ')
print(2, end=' ')
print(3)
print(1,2,3)

1 2 3
1 2 3

In [49]:
"""
불린(boolean):True/False(논리값)   by 논리연산자
"""
2>1
2==1
2!=1
"test"=="text"
"python"=="Python"
"python"=="python"
1==1.0  # 1->1.0 == 1.0 => True
1 is 1.0 # 정수 1객체 == 실수 1.0객체 => 다르다
1 is not 1.0

True

In [52]:
"""
클래스:건축설계도, 붕어빵기계, 자동차공장
객체:건물, 붕어빵, 자동차
속성:건물의특성(층,평수,...), 붕어빵의특성(내용물,크기,...)
메서드:건물의동작(???),  붕어빵의동작(???), 달린다/멈춘다..
상속:유사한 건물 설계시, 기존 건축설계도의 재사용
"""
#상속? 아빠 -> 코골이 -> 자식(이를 간다) -> 자식(코골이, 이를 간다, 잠꼬대)

'\n클래스:건축설계도, 붕어빵기계, 자동차공장\n객체:건물, 붕어빵, 자동차\n속성:건물의특성(층,평수,...), 붕어빵의특성(내용물,크기,...)\n메서드:건물의동작(???),  붕어빵의동작(???), 달린다/멈춘다..\n상속:유사한 건물 설계시, 기존 건축설계도의 재사용\n'

In [59]:
#논리연산: and, or, not
#and : 모두 참 => 참
True and True
True and False
#or : 적어도 하나 이상 참 => 참
False or False
False or True
#not : 논리값 반대로 뒤집는 연산자
not True
((not True) and False) or (not False)

True

In [67]:
1==1 and 10 != 9
not 1 > 0  #not True => False
not 10 > 5
not 1 is 1.0

True

In [77]:
#bool함수 : 정수,실수,문자열 => 불린 타입 변환
bool(1)
bool(0)
bool(-1) #정수 0을 제외한 모든 정수는 참

bool(3.14)
bool(0.0)#실수 0.0을 제외한 모든 실수는 참
bool(-3.14)

bool("hi")
bool("") #빈 문자열("", '')는 거짓
bool('')

False

In [78]:
False and True #False이므로 and 뒤에 있는 True는 실행 안함
True or False #TRue이므로 or 뒤에 있는 False는 실행 안함

False

In [84]:
number=3
day="two"
"I eat %d apples. " % 3
#"I eat %d apples. " % "three"   에러
"I eat %s apples. " % "three"

"I eat %d apples. " % number

"I ate %d apples. so I was sick for %s days." % (number, day)
#두 개 이상의 값을 전달하려면 괄호로 묶어서 표현해야 한다.

'I ate 3 apples. so I was sick for two days.'

In [88]:
"I eat %s apples. " % "three"
"I eat %s apples. " % 3
"I eat %s apples. " % 3.14
#%s는 타입과 관련없이 전달 받아서 출력해줌

'I eat 3.14 apples. '

In [91]:
"Error is %d" % 90
"Error is %d%%" % 90 #%기호 출력=> %%

'Error is 90%'

In [97]:
#%10s : 10자리를 확보한 후, 오른쪽 정렬 출력
print("%10sgd" % "hi")
print("%10sgd" % "hello")

#%10s : 10자리를 확보한 후, 왼쪽 정렬 출력
print("%-10sgd" % "hi")
print("%-10sgd" % "hello")

        higd
     hellogd
hi        gd
hello     gd

In [100]:
"%f" % 3.14 #'3.140000'
"%.2f" % 3.14
"%10.2f" %3.14 #10자리를 확보한 후, 소수 이하 둘째자리까지 출력

'      3.14'

In [111]:
#format함수를 이용한 포매팅
#"I eat %d apples" % 3
"I eat {0} apples".format(3)
"I eat {0} apples".format("three")
num=3
"I eat {0} apples".format(num)

"I ate {1} apples. so I was sick for {0} days.".format(3, "three")
"I ate {num} apples. so I was sick for {day} days.".format(num=3, day="three")
"I ate {0} apples. so I was sick for {day} days.".format(3, day="three")

'I ate 3 apples. so I was sick for three days.'

In [125]:
"{1} {0}".format("hi", "hello")

#정렬 옵션
"{0}".format("hello")
"{0:<10}".format("hello") #10자리 확보, 왼쪽 정렬
"{0:>10}".format("hello") #10자리 확보, 오른쪽 정렬
"{0:^10}".format("hello") #10자리 확보, 가운데 정렬
"{0:=^10}".format("hello") #10자리 확보, 가운데 정렬,*로 채움

'==hello==='

In [132]:
a="hello"
a.count('l') #l문자의 개수
a.count('a') #a문자의 개수

b="Python is very easy."
b.find('y') #가장 왼쪽에서부터 찾아가므로 1
b.find('k') #문자를 못찾는 경우에는 -1

b.index('y')#가장 왼쪽에서부터 찾아가므로 1
b.index('k')#문자를 못찾는 경우에는 에러 발생

ValueError: substring not found

In [135]:
#문자열
"#".join("hello")
#리스트 : 대괄호([])로 표현, 자료를 나열하고자 할때 사용
"$".join(['m','u','l','t','i'])

'm$u$l$t$i'

In [141]:
#자연어처리에서 'test', 'TEST', 'Test' => 일괄적으로 치환
a='Test'
a.lower() #소문자로 변환
a.upper() #대문자로 변환

'TEST'

In [147]:
# strip함수 : 양쪽 공백 제거
# lstrip함수 : 왼쪽 공백 제거
# rstrip함수 : 오른쪽 공백 제거
word=" hello    "
word
word.strip()
word.lstrip()
word.rstrip()

' hello'

In [151]:
#replace : 문자열 대체
#대한민국, 한국, 코리아, 조선, 고려, 우리나라,... => 대한민국
x="대한민국 한국 코리아"
x.replace("한국", "대한민국")

'대한민국 대한민국 코리아'

In [155]:
x="a?b$c?d"
#x.split("?")
x.split("$")

['a?b', 'c?d']

In [164]:
"""
리스트:데이터 타입에 관계없이 저장
"""
x1=[] #빈 리스트
x1
x2=[1,2,3]
x2
x3=['programming', 'is', 'very','easy']
x3
x4=[1,2,'is','very']
x4
x5=[1,2,['is','very']]#리스트의 요소로 리스트가 올 수 있다
x5
#리스트 내부에는 어떠한 자료형도 모두 포함될 수 있다
a=list()  #a=[]
a
a=[1,2,3]
a[0]+a[2]
a[-1] #-1 : 마지막 요소

3

In [176]:
x=[1,2,3,['a','b','c']]
"""
x리스트에서 1을 참조하여 출력
x리스트에서 'a','b','c'을 참조하여 출력
"""
x[0]
x[3] # x[-1]
x[-2]

#리스트의 리스트를 참조
#a를 참조
x[3][0]  #[1, 2, 3] 에서 0번 index 데이터 추출

x=[1,2,3,['a','b','c']]
#c를 참조
x[3][2]
x[3][-1]
x[-1][2]
x[-1][-1]

'c'

In [185]:
#삼중 리스트
x=[1,2,['a','b',['Python','is']]]
#Python 추출
x[2][2][0]

x[0:3] #x변수에 저장된 데이터의 0번~3-1번 index 데이터 추출
x[0:2]
x[:2]
x[2:]

[['a', 'b', ['Python', 'is']]]

In [191]:
x2=[1,2,3,['a','b','c'],4,5]
x2
#   3,['a','b','c'],4,5
x2[2:]
x2[2:6]

#     ['a','b']
x2[3][0:2]

['a', 'b']

In [199]:
x=[1,2,3]
y=[4,5,6]
x+y #리스트 더하기 => 2개의 리스트가 연결되어 1개의 리스트
"hi"+"hello"
x=[9,8,7]
x*3
"="*40
"hello"*10
"ㅋ"*100

'ㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋ'

In [201]:
x=[1,2,3]
len(x)
len("hello")

5

In [208]:
a=[1,2,3]   # 3hi 출력
#a[2]+"hi"
str(a[2])+"hi"

'3hi'

In [218]:
#a=[0,1,2,..,9]
range(5) #0~4까지 연속된 숫자 생성
list(range(100))
list(range(3,12))
list(range(3,12, 2))
list(range(-3,12, 2))
list(range(13,2, -1))

[13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3]

In [223]:
a=[1,2,3]
a
a[2]=10
a
del a[1]

In [224]:
a

[1, 10]

In [227]:
a=list(range(1, 11)) #1~10까지 숫자가 저장된 리스트를 생성
a

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [228]:
del a[6:]

In [229]:
a

[1, 2, 3, 4, 5, 6]

In [230]:
del a[2:5]

In [231]:
a

[1, 2, 6]

In [235]:
#리스트변수명.함수명()
a=[1,2,3]
x=5
a.append(x)
a
b=[6,7]
a.append(b)
a

a.sort()


#자료구조(리스트,튜플,딕셔너리,셋)에 따라 사용 가능한 함수가 다름
#(공통 사용 가능함수도 일부 있음)
#python.org
# 리스트(객체).함수()
# 딕셔너리(객체).함수()
# 문자열(객체).함수()

#자동차객체.달린다(), 멈춘다(), ...

#클래스 : 사람
#홍길동객체.먹는다(), 잔다(), ...
#홍길순객체.먹는다(), 잔다(), ...

TypeError: '<' not supported between instances of 'list' and 'int'

In [245]:
a=[2,1,4,3]
#a.sort()#오름차순 정렬

a.sort()
a

a.reverse()
a

a=['k', 'a', 'z']
a.sort()
a
a.reverse()
a

['z', 'k', 'a']

In [249]:
a=[10,20,30]
a.index(20) #20이 저장되어 있는 요소의 위치
#a.find(20)
#a.index(1)

1

In [253]:
#insert: 리스트 요소 추가(원하는 위치)
a=[1,2,3]
a.insert(0, 100) #0번 인덱스 위치에 100 추가
a
a.insert(3,5)
a

[100, 1, 2, 5, 3]

In [257]:
a=[3,7,5]
a.sort()
a
a.reverse()
a

[7, 5, 3]

In [258]:
b=['k','j','a']
b.reverse()
b

['a', 'j', 'k']

In [272]:
a=[1,2,3,1,2,3]
a.remove(3)

In [273]:
a

[1, 2, 1, 2, 3]

In [276]:
a=[10,20,30,40]
a.pop() #가장 마지막에 저장된 요소를 제거(꺼내는) 작업

40

In [277]:
a

[10, 20, 30]

In [278]:
a.pop(1) #1번 index에 저장되어 있는 자료가 꺼내짐

20

In [279]:
a

[10, 30]

In [282]:
a=[1,2,3,1]
a.count(1)
a.count(0)

0

In [283]:
a=[1,2,3]
b=[4,5]
a.append(b)

In [284]:
a

[1, 2, 3, [4, 5]]

In [285]:
a=[1,2,3]
b=[4,5]
a.extend(b)

In [286]:
a

[1, 2, 3, 4, 5]

In [287]:
a.extend([6,7])
a

[1, 2, 3, 4, 5, 6, 7]

In [265]:
a

[1, 2, 1, 2, 3]

In [261]:
a

[1, 2, 1, 2, 3]

In [ ]:
"""
1. 주민번호 921101-1231234 에서 연월일과 그 뒤의 숫자 부분을 나누어 출력하시오
ex) 921101 1231234
2. 주민번호 921101-1231234 에서 성별을 나타내는 숫자를 출력하시오.
3. 문자열 a:b:c:d -> a#b#c#d로 변경하시오
4. [How","are","you"] 리스트에서 join함수를 이용하여
            How are you를 출력하시오.
5. 리스트 [5,3,1,-1,3]출력 되도록 코드를 작성하시오.
    range함수 적용
6. 1부터 10,000까지 8이라는 숫자가 총 몇번 나오는가?
8이 포함되어 있는 숫자의 갯수를 카운팅 하는 것이 아니라 8이라는 숫자를 모두 카운팅 해야 한다.
(※ 예를들어 8808은 3, 8888은 4로 카운팅 해야 함)
"""