문제 1 다음(Daum)의 주가가 89,000원이고 네이버(Naver)의 주가가 751,000원이라고 가정하고, 어떤 사람이 다음 주식 100주와 네이버 주식 20주를 가지고 있을 때 그 사람이 가지고 있는 주식의 총액을 계산하는 프로그램을 작성하세요.

In [13]:
daum = 89000
naver = 751000

d = 100
n = 20

stock_price_list = [daum,naver]
stock_num_list = [d,n]

import numpy as np

stock_price_list = np.array(stock_price_list)
stock_num_list = np.array(stock_num_list)

print(sum(stock_price_list * stock_num_list))

23920000

문제 2 문제 2-1에서 구한 주식 총액에서 다음과 네이버의 주가가 각각 5%, 10% 하락한 경우에 손실액을 구하는 프로그램을 작성하세요.

In [16]:
stock_price_list = stock_price_list * np.array([0.95, 0.9])
print(int(sum(stock_price_list * stock_num_list)))

20198450

문제 3 우리나라는 섭씨 온도를 사용하는 반면 미국과 유럽은 화씨 온도를 주로 사용합니다. 화씨 온도(F)를 섭씨 온도(C)로 변환할 때는 다음과 같은 공식을 사용합니다. 
이 공식을 사용해 화씨 온도가 50일 때의 섭씨 온도를 계산해 보세요.

In [18]:
# f = (9/5) * c + 32
f = 50
c = (f - 32)*5/9
print(c)

10.0

문제 4 화면에 "pizza"를 10번 출력하는 프로그램을 작성하세요.

In [19]:
print("pizza " * 10)

pizza pizza pizza pizza pizza pizza pizza pizza pizza pizza

문제 5 월요일에 네이버의 주가가 100만 원으로 시작해 3일 연속으로 하한가(-30%)를 기록했을 때 수요일의 종가를 계산해 보세요.

In [25]:
naver_st_p = 1000000
under_limit = (1-0.3)
print(int(round(naver_st_p * (under_limit)**3,5)))

343000

문제 6 다음 형식과 같이 이름, 생년월일, 주민등록번호를 출력하는 프로그램을 작성해 보세요. 이름: 파이썬 생년월일: 2014년 12월 12일 주민등록번호: 20141212-1623210

In [44]:
personal = "박찬 950104-1111222"
person = personal.split()
name = person[0]
birth = person[1].split("-")[0]
print(" 이름 : {} \n 생년월일 : 19{}년 {}월 {}일 \n 주민등록번호 : {}".format(name,birth[:2],birth[2:4],birth[4:],person[1]))

 이름 : 박찬
 생년월일 : 1995년 01월 04일
 주민등록번호 : 950104-1111222

문제 7 s라는 변수에 'Daum KaKao'라는 문자열이 바인딩돼 있다고 했을 때 문자열의 슬라이싱 기능과 연결하기를 이용해 s의 값을 'KaKao Daum'으로 변경해 보세요.

In [50]:
s = 'Daum KaKao'
key = s.find(" ")
print(s[key+1:]+ s[key] + s[:key])

KaKao Daum

문제 8 a라는 변수에 'hello world'라는 문자열이 바인딩돼 있다고 했을 때 a의 값을 'hi world'로 변경해 보세요.

In [51]:
a = 'hello world'
a = a.replace('hello','hi')
print(a)

hi world

문제 9 x라는 변수에 'abcdef'라는 문자열이 바인딩돼 있다고 했을 때 x의 값을 'bcdefa'로 변경해 보세요.

In [55]:
x = 'abcdef'
x = x[1:] + x[0]
print(x)

bcdefa

문제 10

2015년 9월 초의 네이버 종가는 표 3.2와 같습니다. 09/07의 종가를 리스트의 첫 번째 항목으로 입력해서 naver_closing_price라는 이름의 리스트를 만들어보세요.

표 3.2 네이버 종가

날짜	요일	종가    
09/11	금	488,500    
09/10	목	500,500    
09/09	수	501,000    
09/08	화	461,500    
09/07	월	474,500

In [57]:
naver_closing_price = [474500,461500,501000,500500,488500]
naver_closing_price

[474500, 461500, 501000, 500500, 488500]

문제 11
문제 10에서 만든 naver_closing_price를 이용해 해당 주에 종가를 기준으로 가장 높았던 가격을 출력하세요. (힌트: 리스트에서 최댓값을 찾는 함수는 max()이고, 화면에 출력하는 함수는 print()입니다.)

In [58]:
print(max(naver_closing_price))

501000


문제 12
문제 10에서 만든 naver_closing_price를 이용해 해당 주에 종가를 기준으로 가장 낮았던 가격을 출력하세요. (힌트: 리스트에서 최솟값을 찾는 함수는 min()이고, 화면에 출력하는 함수는 print()입니다.)

In [59]:
print(min(naver_closing_price))

461500

문제 13
문제 10에서 만든 naver_closing_price를 이용해 해당 주에서 가장 종가가 높았던 요일과 가장 종가가 낮았던 요일의 가격 차를 화면에 출력하세요..

In [60]:
diff = max(naver_closing_price) - min(naver_closing_price)
print(diff)

39500

문제 14
문제 10에서 만든 naver_closing_price를 이용해 수요일의 종가를 화면에 출력하세요.

In [77]:
table = {}
for i in range(7,12):
    table["09/"+ "%02d" % i] = naver_closing_price[i-7]

print(table["09/09"])

501000

문제 15
문제 10의 표 3.2를 이용해 날짜를 딕셔너리의 키 값으로, 종가를 딕셔너리의 값으로 사용해 naver_closing_price2라는 딕셔너리를 만드세요.

In [78]:
naver_closing_price2 = table
print(naver_closing_price2)

{'09/07': 474500, '09/08': 461500, '09/09': 501000, '09/10': 500500, '09/11': 488500}

문제 16
문제 15에서 만든 naver_closing_price2 딕셔너리를 이용해 09/09일의 종가를 출력하세요.

In [79]:
naver_closing_price2["09/09"]

501000

문제 17
중첩 루프를 이용해 신문 배달을 하는 프로그램을 작성하세요. 단, 아래에서 arrears 리스트는 신문 구독료가 미납된 세대에 대한 정보를 포함하고 있는데, 해당 세대에는 신문을 배달하지 않아야 합니다.

apart = [[101, 102, 103, 104],[201, 202, 203, 204],[301, 302, 303, 304], [401, 402, 403, 404]]

arrears = [101, 203, 301, 404]

In [81]:
apart = [[101, 102, 103, 104],[201, 202, 203, 204],[301, 302, 303, 304], [401, 402, 403, 404]]

arrears = [101, 203, 301, 404]

for floor in apart:
    for ho in floor:
        if ho not in arrears:
            print(ho, end = ' ')

102 103 104 201 202 204 302 303 304 401 402 403

문제 18
두 개의 정수 값을 받아 두 값의 평균을 구하는 함수를 작성하세요.
def myaverage(a, b):
    # 함수 구현

In [82]:
def myaverage(a,b):
    return (a+b)/2

print(myaverage(4, 8))

6.0

문제 19
함수의 인자로 리스트를 받은 후 리스트 내에 있는 모든 정수 값에 대한 최댓값과 최솟값을 반환하는 함수를 작성하세요.
def get_max_min(data_list):
    # 함수 구현

In [83]:
def get_max_min(data_list):
    return (max(data_list),min(data_list))

list1 = [1,2,3,4,5,6,7,8,89,2345,5464573]
print(get_max_min(list1))

(5464573, 1)

문제 20
절대 경로를 입력받은 후 해당 경로에 있는 *.txt 파일의 목록을 파이썬 리스트로 반환하는 함수를 작성하세요.

def get_txt_list(path):
    # 함수 구현

In [102]:
import os
import glob

path = r"C:\Users\Administrator\Desktop\coffeemachine"

def get_txt_list(path):
    os.chdir(path)
    return glob.glob('*.txt')

get_txt_list(path)

['MachineState.txt']

문제 21
체질량 지수(BMI; Body Mass Index)는 인간의 비만도를 나타내는 지수로서 체중과 키의 관계로 아래의 수식을 통해 계산합니다. 여기서 중요한 점은 체중의 단위는 킬로그램(kg)이고 신장의 단위는 미터(m)라는 점입니다.

BMI=체중(kg)신장(m)2
일반적으로 BMI 값에 따라 다음과 같이 체형을 분류하고 있습니다.

BMI <18.5, 마른체형
18.5 <= BMI < 25.0, 표준
25.0 <= BMI < 30.0, 비만
BMI >= 30.0, 고도 비만
함수의 인자로 체중(kg)과 신장(cm)을 받은 후 BMI 값에 따라 ‘마른체형’, ‘표준’, ‘비만’, ‘고도 비만’ 중 하나를 출력하는 함수를 작성하세요.

In [118]:
def bmiIndex(weight=65,height=175):
    bmi = weight / (height/100) ** 2
    if bmi < 18.5:
        return '마른체형'
    elif 18.5 <= bmi < 25.0 :
        return '표준'
    elif 25.0 <= bmi < 30.0 :
        return '비만'
    else :
        return '고도 비만'

bmiIndex(60,190)

'마른체형'

문제 22
사용자로부터 키(cm)와 몸무게(kg)를 입력받은 후 BMI 값과 BMI 값에 따른 체형 정보를 화면에 출력하는 프로그램을 작성해 보세요. 파이썬에서 사용자 입력을 받을 때는 input 함수를 사용하며, 작성된 프로그램은 계속해서 사용자로부터 키와 몸무게를 입력받은 후 BMI 및 체형 정보를 출력해야 합니다(무한 루프 구조).

In [1]:
def bmiIndex(weight=65,height=175):
    bmi = weight / (height/100) ** 2
    print("%0.1f" % bmi, end = ' ')
    if bmi < 18.5:
        return '마른체형'
    elif 18.5 <= bmi < 25.0 :
        return '표준'
    elif 25.0 <= bmi < 30.0 :
        return '비만'
    else :
        return '고도 비만'

height, weight = map(int,input().split())
while(height > 1):
    print(bmiIndex(height,weight))
    height, weight = map(int,input().split())

65 157
26.4 비만
11 1
110000.0 고도 비만
1 1

문제 23
삼각형의 밑변과 높이를 입력받은 후 삼각형의 면적을 계산하는 함수를 작성하세요.

def get_triangle_area(width, height):
    # 함수 구현

In [2]:
def get_triangle_area(width, height):
    return width * height * 0.5

문제 24

함수의 인자로 시작과 끝을 나타내는 숫자를 받아 시작부터 끝까지의 모든 정수값의 합을 반환하는 함수를 작성하세요(시작값과 끝값을 포함).

def add_start_to_end(start, end):
    # 함수 구현

In [5]:
def add_start_to_end(start, end):
    return sum(range(start,end+1))

add_start_to_end(3,10)

52

문제 25
함수의 인자로 문자열을 포함하는 리스트가 입력될 때 각 문자열의 첫 세 글자로만 구성된 리스트를 반환하는 함수를 작성하세요. 예를 들어, 함수의 입력으로 ['Seoul', 'Daegu', 'Kwangju', 'Jeju']가 입력될 때 함수의 반환값은 ['Seo', 'Dae', 'Kwa', 'Jej']입니다.

In [7]:
s = ['Seoul', 'Daegu', 'Kwangju', 'Jeju']
def three_word(string):
    for i,s in enumerate(string):
        string[i] = s[:3]
    return string

three_word(s)

['Seo', 'Dae', 'Kwa', 'Jej']