# Problem 01
0. zoo.data, zoo.names
1. 데이터 읽기, 저장하기 연습
2. reindex
3. 결측값을 임의로 추가 -> 결측값 처리 연습
4. info, head, tail, ... 데이터 확인

In [4]:
import pandas as pd
import numpy as np
import re
path = r'C:\Users\Administrator\Downloads'
zdata = '\zoo.data'
zname = '\zoo.names'

f = open(path+zname,'r')
lines = f.readlines()
indexes = []
for line in lines:
    index = re.findall('[0-9]+[.][ ](?P<index>[a-z ]+)',line)
    if index != []:
        indexes.append(index[0])
f.close()

zoodata = pd.read_csv(path+zdata, names = indexes,header=None)
zoodata.to_csv("zoodata.csv")
zoodata.head(10)
zoodata.tail(10)

In [2]:
zoodata.reindex(index = [0,1,2,3,5,111,112,113], method = 'ffill')

,animal name,hair,feathers,eggs,milk,airborne,aquatic,predator,toothed,backbone,breathes,venomous,fins,legs,tail,domestic,catsize,type
0,aardvark,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1,1
1,antelope,1,0,0,1,0,0,0,1,1,1,0,0,4,1,0,1,1
2,bass,0,0,1,0,0,1,1,1,1,0,0,1,0,1,0,0,4
3,bear,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1,1
5,buffalo,1,0,0,1,0,0,0,1,1,1,0,0,4,1,0,1,1
111,wren,0,1,1,0,1,0,0,0,1,1,0,0,2,1,0,0,2
112,wren,0,1,1,0,1,0,0,0,1,1,0,0,2,1,0,0,2
113,wren,0,1,1,0,1,0,0,0,1,1,0,0,2,1,0,0,2

# Problem02

dump를 한 번 실행시 가장 최상위의 벽돌을 가장 낮은 곳으로 보낸다. n 번의 dump를 실행 후 최고점과 최저점의 높이 차이를 출력

In [3]:
blist = [5,8,3,1,5,6,9,9,2,2,4]

n = int(input("how many dump : "))

for i in range(n):
    max_v = blist.index(max(blist))
    min_v = blist.index(min(blist))
    blist[max_v] -= 1
    blist[min_v] += 1
    print(blist)
    
print('score is : ',max(blist)-min(blist))

how many dump : 17
[5, 8, 3, 2, 5, 6, 8, 9, 2, 2, 4]
[5, 8, 3, 3, 5, 6, 8, 8, 2, 2, 4]
[5, 7, 3, 3, 5, 6, 8, 8, 3, 2, 4]
[5, 7, 3, 3, 5, 6, 7, 8, 3, 3, 4]
[5, 7, 4, 3, 5, 6, 7, 7, 3, 3, 4]
[5, 6, 4, 4, 5, 6, 7, 7, 3, 3, 4]
[5, 6, 4, 4, 5, 6, 6, 7, 4, 3, 4]
[5, 6, 4, 4, 5, 6, 6, 6, 4, 4, 4]
[5, 5, 5, 4, 5, 6, 6, 6, 4, 4, 4]
[5, 5, 5, 5, 5, 5, 6, 6, 4, 4, 4]
[5, 5, 5, 5, 5, 5, 5, 6, 5, 4, 4]
[5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 4]
[4, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5]
[5, 4, 5, 5, 5, 5, 5, 5, 5, 5, 5]
[4, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5]
[5, 4, 5, 5, 5, 5, 5, 5, 5, 5, 5]
[4, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5]
score is :  1